<h1>Listing Users</h1>

<table class="table" >
    <%= for user <- @users do %>
        <tr>
            <td class="profile-picture"><img src="http://www.fillmurray.com/50/50"/>
            <td><%= render "user.html", user: user %></td>
            <td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
        </tr>
    <% end %>
</table>

<%= link "Create new User", to: user_path(@conn, :new), class: "btn btn-primary btn-lg btn-block" %>
