<div class="jumbotron">
    <h2>Welcome to Rumbl.io!</h2>
    <p class="lead">Rumble out loud.</p>
</div>

<%= link "Go to Userlist", to: user_path(@conn, :index), class: "btn btn-primary btn-lg  btn-block" %>
<%= link "Go to Videolist", to: video_path(@conn, :index), class: "btn btn-primary btn-lg btn-block" %>
